.footer {
  background-color: $color-dark-grey;
  padding: 10rem 0;
  font-size: 1.4rem;
  color: $color-light-grey-2;

  @include respond(tab-port) {
    padding: 8rem 0;
  }

  &__logo-box {
    text-align: center;
    margin-bottom: 8rem;

    @include respond(tab-port) {
      margin-bottom: 4rem;
    }
  }
  &__logo {
    height: 15rem;

    @include respond(tab-port) {
      height: 10rem;
    }
  }

  &__list {
    list-style: none;
  }

  &__item {
    display: inline-block;
    &:not(:last-child) {
      margin-right: 2rem;
    }
  }

  &__link {
    text-decoration: none;
    text-transform: uppercase;
    display: inline-block;
    transition: all 0.5s;

    &:link,
    &:visited {
      color: $color-light-grey-1;
    }

    &:hover,
    &:active {
      color: $color-primary;

      transform: skewX(-10deg);
    }
  }

  &__navigation,
  &__copyright {
    display: inline-block;
    border-top: 0.2rem solid $color-light-grey-2;
    padding-top: 3rem;

    @include respond(tab-port) {
      width: 100%;
      padding-top: 2rem;
      text-align: center;
    }
  }
}
